       @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            display: flex;
            flex-direction: column;
            font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
            padding: 0;
            margin: 0;
            height:100vh;
            font-size: 16px;
        }

        .aside {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            color: '#aaaaaa' 
        }

        .brief {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            font-size: 0.8em;
        }

        .footer {
            font-size: 0.65em;
            display: flex;
            justify-content: center;
            height: 50px;
            align-items: center;
            background-color: darkslategrey;
            color: aliceblue;
        }

        .brief .header {
            display: flex;
            justify-content: flex-start;
            /* text-align: left; */
            font-size: 1.2em;
            font-weight: 700;

        }

        .brief .subheader {
            font-size: 0.95em;
            font-style: italic;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 0;
            height: 100%; 
        }

        .keypad {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            width: 220px
        }

        .key,
        .key_fn,
        .key_op {
            border: 1px solid grey;
            border-radius: 3px;
            height: 50px;
            width: 50px;
            font-size: 1.5em;
        }
        .key_op._equals {
            background-color: rgb(236, 83, 114);
        }
        .key_fn._modulo {
            font-size: 1.1em;
        }
        .key_fn {
            background-color: rgb(143, 168, 214);
        }
        .key_op._clear, 
        .key_op._backspace {
            background-color: goldenrod;
        }

        ._display {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto; 
            width: 220px;
            min-height: 65px;
            margin: 5px;
            padding: 5px;
            font-size: 16px;
            background-color: rgb(212, 230, 224);
        }

        ._display_expression {
            display: flex;
            justify-content: flex-end;
            margin: 5px 0;
            padding: 5px;
        }

        ._result {
            display: flex;
            justify-content: flex-end;
            font-size: 1.2em;
            padding: 5px
        }

        .calculator {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            flex: 1 1 0;
            /* justify-content: center; */
            align-items: center;
        }
